<?xml version="1.0"?>
<robot>
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="${M_PI*0.5} 0 ${M_PI*0.5}"/>
      <geometry>
        <mesh filename="package://tb3_description/meshes/webcam.stl" scale="0.0001 0.0001 0.0001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>
  <joint name="camera_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="-0.075 0.1 0.032" rpy="0 0 0"/>
  </joint>
  <link name="camera_lens_link"/>
  <joint name="camera_lens_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_lens_link"/>
    <origin xyz="0.09 -0.0087 0.0625" rpy="-1.571 0 -1.571"/>
  </joint>
</robot>
